body {
    background: rgb(48, 47, 47);
    color: rgb(247, 247, 247);
}

header {
    font-size: 40px;

}

iframe{
    padding: 10px;
    background: red;;
}

section {
    background: darkred;
    padding-bottom: 55px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
}

.texto{
    margin-right: 65px;
}