body {
    background: rgb(48, 47, 47);
    color: rgb(247, 247, 247);
    font-family: "Chakra Petch", sans-serif;
}

header {
    font-size: 40px;

}

iframe{
    padding: 10px;
    background: red;;
}

section {
    background: darkred;
    padding-bottom: 55px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
}

.texto{
    margin-right: 10%;
}

.texto{
    margin-left: 10%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.videos{
    display: flex;
    overflow-x: auto;
}